################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Org/FileContentIndex/read.lock
/.vs/Org/FileContentIndex/6cf8f1c3-0fdc-49db-b759-0c1ca9d0d938.vsidx
/.vs/Org/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Org/FileContentIndex/a8b3671d-ed41-4c3b-9edd-6ffee1277e18.vsidx
/.vs/VSWorkspaceState.json
/.vs/Org/FileContentIndex/b6fce82b-66e6-4544-8a6f-a703d05721eb.vsidx
/.vs/Org/FileContentIndex/d20682cc-2f56-4866-bac0-3afe1be402c3.vsidx
/.vs/Org/FileContentIndex
